<!DOCTYPE html>
<html>
<head>
	<title>contact page</title>
	<link rel="stylesheet" type="text/css" href="assets/styles.css">
</head>
<body>
<h1>WELL COME</h1>
<h3>YOU ARE AT THE CONTACT PAGE OF  <%= qs.name%></h3>
</body>
<h2>Hello <strong> <%= qs.name%></strong></h3>
</html>